"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    autoHideMenuBar: true
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    softWrap: true
    softTabs: false
    tabType: "hard"
    zoomFontWhenCtrlScrolling: false
    showInvisibles: true
    fontSize: 15
    fontFamily: "Hack"
  whitespace:
    ensureSingleTrailingNewline: true
  "exception-reporting":
    userId: "9645903c-8b1f-6900-4446-96f77aeaf614"
