"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    softWrap: true
    softTabs: false
    zoomFontWhenCtrlScrolling: false
    fontFamily: "Ubuntu Mono"
    fontSize: 15
    showInvisibles: true
  whitespace:
    ensureSingleTrailingNewline: true
  "linter-phpcs":
    phpExecutablePath: "/usr/bin/php"
  "one-dark-ui":
    layoutMode: "Spacious"
  "exception-reporting":
    userId: "9645903c-8b1f-6900-4446-96f77aeaf614"
