# =============================
# Sass
# =============================
'.sass':
	'Media query':
		prefix: 'mquery'
		body: """
		@include mQuery($1) {
			${2:// code}
		}
		"""

# =============================
# JavaScript
# =============================
".js":
	"AMD module":
		prefix: "amd"
		body: """
		define([
			'jquery',
			$1
		], function ($, $2) {
			return function (a) {
				${3://code}
			};
		});
		"""
	"Quick log":
		prefix: "here"
		body: "console.log('here');"
	"Throw error":
		prefix: "throw"
		body: "if (${1:err}) throw ${1:err};"
	"Use strict":
		prefix: "strict"
		body: "'use strict';"
