# =============================
# Sass
# =============================
'.sass':
	'Media query':
		prefix: 'mquery'
		body: """
		@include mQuery($1) {
			${2:// code}
		}
		"""

# =============================
# JavaScript
# =============================
".js":
	"AMD module":
		prefix: "amd",
		body: """
		define([
			'jquery',
			$1
		], function ($, $2) {
			return function (a) {
				${3://code}
			};
		});
		"""
