.status-bar .deprecation-cop-status {
  visibility: hidden;
}

atom-text-editor {
  text-rendering: optimizeLegibility;
}

.theme-atom-material-ui /deep/ ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
}

atom-text-editor::shadow .editor--private .cursors div {
  transition: opacity .4s;
}
