// Remove the annoying deprecation alerts for packages
.status-bar .deprecation-cop-status {
	visibility: hidden;
}

// Pulse the cursor instead of flashing it
atom-text-editor::shadow .editor--private .cursors div {
	transition: opacity .3s;
}

// Make comments non-italic
atom-text-editor::shadow .comment {
	font-style: normal;
}

// Highlights trailing whitespace except on the cursor line
atom-text-editor::shadow .line:not(.cursor-line) .trailing-whitespace {
	background-color: @background-color-error;
	color: contrast(@background-color-error);
}

// Custom font across the whole UI
atom-workspace {
	font-family: Source Sans Pro;
}

// Hide line numbers except on the current line
atom-text-editor::shadow .gutter .line-number {
	color: transparent;
	transition: color 0.25s ease-out;
}
